
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>animal shelter</span>
      <span class="fill-space"></span>
      <div class="button-flex-container" *ngIf="!currentUser">
        <button mat-button [routerLink]="['/authentication', 'login']" routerLinkActive="router-link-active" >Login</button>
        <button mat-button [routerLink]="['/authentication', 'register']">Register</button>
      </div>
      <div class="button-flex-container" *ngIf="currentUser">
        <span>Welcome {{currentUser?.email}}</span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>